<div class="container">
    <div class="login-container">
        <h2>Inicia Sesion</h2>
        <form id="formLogin" class="login-form" action="" method="post">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required>

            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>

            <input type="submit" value="Login">
        </form>
        <p>No tenes una cuenta? <a href="/static/register">Registrate</a></p>
    </div>
</div>