<div class="container">
    <div class="register-container">
        <h2>Registrate</h2>
        <form id="formRegister" class="register-form" action="" method="post">
            <label for="first_name">Nombre:</label>
            <input type="text" id="first_name" name="first_name" required>

            <label for="last_name">Apellido:</label>
            <input type="text" id="last_name" name="last_name" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>

            <label for="age">Edad:</label>
            <input type="number" id="age" name="age" required>

            <input type="submit" value="Register">
        </form>
        <p>Ya tenes una cuenta? <a href="/static/login">Login</a></p>
    </div>
</div>