.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.register-container h2 {
    text-align: center;
    margin: 0;
}

.register-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.register-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.register-form input[type="text"],
.register-form input[type="password"],
.register-form input[type="email"],
.register-form input[type="number"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.register-form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.register-form input[type="submit"]:hover {
    background-color: #0056b3;
}

.register-form p {
    text-align: center;
    margin-top: 10px;
}