* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

.navbar-brand img{
  width: 120px;
}

.navbar-brand{
  margin-right: 0;
}

.navbar-nav {
  align-items: center;
}

.navbar .navbar-nav .nav-link{
  font-size: 1.1em;
}

@media screen and (min-width:992px) {
  .navbar-brand img{
      width: 250px;
      padding: 0 1rem;
  }
}