<nav>
	<ul style='margin: 8px; padding: 0; display: flex; gap: 20px; list-style: none'>
		<li><a href='http://localhost:4000/static/'>Home</a></li>
		<li><a href='http://localhost:4000/static/realtimeproducts'>Crear producto</a></li>
	</ul>
</nav>